.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .box{
        margin-left: 20px;
        padding: 5px;
        border-radius: 5px;
        background-color: #0d9488;
        text-align: center;
        margin-top: 5px;
        color: white;

        &:hover{
            background-color: #432456;
        }
        
    }
}